*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: verdana;
	background: #9c9c9c;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

header{
	width: 100%;
	position: fixed;
}

.header-top{
	width: 100%;
	background: #303030;
}

.navegacion{
	width: 90%;
	max-width: 1000px;	
	margin: auto;
	padding:12px 0;	
}

input[type="search"]{
	padding: 10px;
	padding-right: 35px;
	border: none;
}

.search{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	background: #fff;
	padding:0 10px;
	padding-bottom: 5px;
	max-height: 85%;
	overflow-x: hidden;
	display: none;
}

.search-table{
	width: 100%;
}

tbody tr td{
	width: 100%;
}

tbody tr td a{
	text-decoration: none;
	font-size: 18px;
	color: #737373;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	padding-left: 20px;
	border: 2px solid #fff;
}

tbody tr td a:hover{
	border: 2px solid #378FD9;
}

.search::-webkit-scrollbar{ 
	background:rgba(0,0,0,0);  
}

.search::-webkit-scrollbar-button{
 	background:#C1C1C1;  
}

.search::-webkit-scrollbar-thumb{ 
	background:#C1C1C1; 
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
	display: none;
}

h2 {
	text-align: center;
	color: white;
	font-size: 36px;
	padding-top: 100px;
	padding-bottom: 50px;
}

img {	
	padding: 0px 25px 25px 25px;
	width: 350px;
	height: 350px;
	border-radius: 15%;
	display: inline-block;
}

.courses {
	color: white;
	font-size: 12px;
	padding-left: 220px;	
}